@font-face {
  font-family: 'DeadFontWalking';
  src: url('../fonts/dead-font-walking.eot?v=1.0.0');
  src: url('../fonts/dead-font-walking.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/dead-font-walking.woff?v=4.0.3') format('woff'), url('../fonts/dead-font-walking.ttf?v=4.0.3') format('truetype'), url('../fonts/dead-font-walking.svg?v=4.0.3#DeadFontWalking') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
    font-family: DeadFontWalking;
    font-size: 1.2em;
}

.navbar-brand{
    font-size: 1.4em;
}

.form-control{
    font-size: 24px;
    height: 42px;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.landing-page{
    color: white;
    height: 488px;
    background: url("../Content/jumbotron-dead.jpg")
}