<div class="row">
    <div class="col-sm-6 col-md-4 animate-repeat">
        <div class="thumbnail bg-warning">
            <img src="/content/zombies/generic-zombie.jpg">
            <div class="caption">
                <h2>Name</h2>
                <p>Notes</p>
                <p>
                    <a href="#" class="btn btn-lg btn-primary" role="button">Edit</a>
                    <a href="#" class="btn btn-lg btn-danger" role="button">Delete</a>
                </p>
            </div>
        </div>
    </div>
</div>